<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" tools:node="remove"/>
<uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID" tools:node="remove"/>
<uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" tools:node="remove"/>
<uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS" tools:node="remove"/>
	<!-- Remove sensitive permissions -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" tools:node="remove"/>
    <application>
        <!--Used when Application Entry is set to Activity, otherwise remove this activity block-->
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
                <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false"/>
		<meta-data android:name="google_analytics_adid_collection_enabled" android:value="false"/>
		<meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="true"/>
		<meta-data android:name="google_analytics_default_allow_ad_storage" android:value="false"/>
		<meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="false"/>
		<meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false"/>
    </application>
</manifest>
